env/

__pycache__/

.DS_Store

static/recordings/
static/outputs/

.env
whisper-small-mr-finetuned-marathi
whisper-small-mr

whisper-small-mr-finetuned-marathi/
whisper-small-mr/

./whisper-small-mr-finetuned-marathi/
./whisper-small-mr/