<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paani Voice Assistant</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <style>
        p {
            margin-top: 0;
        }
        h3 {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <h1>Paani Voice Assistant</h1>

    <!-- Section for Recording Audio -->
    <h3>Record audio</h3>
    <button id="recordButton">Start/Stop Recording</button>
    <p id="recordingStatus">Status: Idle</p>

    <!-- Section for Uploading Audio -->
    <h3>Or upload an audio file</h3>
    <input type="file" id="audioUpload" accept="audio/*">

    <!-- Section for Text Input -->
    <h3>Or enter text input</h3>
    <input type="text" id="textInput" placeholder="Type your question here">
    <button id="submitTextButton">Submit</button>

    <!-- Display response -->
    <div id="assistanceResponse" style="display: none;">
        <div>
            <h3 style="margin-bottom: 5px">Model used:</h3>
            <div id="modelId"></div>
        </div>
        <div>
            <h3 style="margin-bottom: 5px">User Input:</h3>
            <div id="userInputText"></div>
        </div>
        <div>
            <h3 style="margin-bottom: 5px">Model Response:</h3>
            <div id="modelResponseText"></div>
        </div>
        <!-- Audio play button -->
        <audio controls id="modelResponsePlayer">
            Your browser does not support the audio element.
        </audio>
    </div>

    <script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
</body>
</html>

